<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Welcome!! </title>
    </head>
    <body style="background-color: lightyellow;">
    <h1> Browsing Human and Vertebrate genome </h1>
    <h2>BASIC Level Services </h2>
        <form action = "/list_species">
             1) List of species in the genome database:
            <br>
            <br>
            Limit: <input type="text" name="limit">
            <input type="submit" value="SEND">
        </form>
&nbsp
         <form action = "/karyotype">
             2) Information about the karyotype:
             <br>
             <br>
            Select the species: <input type="text" name="specie">
            <input type="submit" value="SEND">
        </form>
&nbsp
         <form action = "/chromosomeLength">
             3) Chromosome Length:
             <br>
             <br>
            Select the species: <input type="text" name="specie">
             <br>
             <br>
             Select a chromosome: <input type="text" name="chromosome">

            <input type="submit" value="SEND">
        </form>

    <h2>MEDIUM Level Services </h2>

 <form action = "geneSeq">
         1) Introduce a gene in order to get its sequence:
         <select name="seq" >
             {% for n in context.n_names %}
                <option value={{n}}>{{n}}</option>
                {% endfor %}
        <input type="submit" value="SEND">
    </form>

    <br>

    <form action = "geneInfo">
         2) Introduce a gene in order to get its information:
         <select name="info" >
             {% for n in context.n_names %}
                <option value={{n}}>{{n}}</option>
                {% endfor %}
        <input type="submit" value="SEND">
    </form>




